<!DOCTYPE html>
<html>
<head>
    <title>Flask Folium Map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <style>
        #map { 
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
         }
    </style>
</head>
<body>
    <h1>Enter location:</h1>
    <form method="post" id="locationForm">
        {{ form.hidden_tag() }}
        {{ form.name.label }} {{ form.name(size=32, id="id_name") }}
        {{ form.year.label }} {{ form.year(size=32, id="id_year") }}
        {{ form.location.label }} {{ form.location(size=32, id="id_location") }}
        {{ form.submit() }}
    </form>
    <div id="map"></div>
    
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script>
       
        
    </script>
    <script type="text/javascript">
         var map = L.map('map').setView({{mean_location}}, 2,tiles="cartodb positron");
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
        }).addTo(map);

        var mapContainer = document.getElementById('map');
    
       var marker;
        
        // Add marker based on the existing locations from the dataframe
        var locations = {{ existing_locations | tojson| safe }};
        if (locations.length > 0){
            // locations.forEach(function(location,index) {
            //     var spot = location.split(',');
            //     marker = L.marker([parseFloat(spot[0]), parseFloat(spot[1])]).addTo(map);
            //     marker.bindPopup('Name: ' + '{{ names[index] }}' + ', Year: ' + '{{ years[index] }}');
            // });
            {% for local in existing_locations %}
                var spot = {{local| tojson| safe}}.split(',');

                marker = L.marker([parseFloat(spot[0]), parseFloat(spot[1])]).addTo(map);
                marker.bindPopup('Name: ' + '{{ names[loop.index] }}' + ', Year: ' + '{{ years[loop.index] }}');
            {% endfor %}



        }
        // Add marker based on the submitted location
        console.log("jkfsdklj")
        var loc = {{location | tojson| safe }};
        console.log(loc);

        if (loc !== null){
           console.log(loc);
           var spot = loc.split(',');
           console.log(spot);
           marker = L.marker([parseFloat(spot[0]), parseFloat(spot[1])]).addTo(map);
        };

        // Add click event to the map to add a data point to the dataframe
        map.on('click', function(e) {
            if (marker) {
                map.removeLayer(marker);
            }
            marker = L.marker(e.latlng).addTo(map);
            document.getElementById('id_location').value = e.latlng.lat + ', ' + e.latlng.lng;
            
            // Add the clicked data point to the Pandas dataframe
            /*var newLocation = e.latlng.lat + ', ' + e.latlng.lng;
             var newName = prompt("Enter the name of the meteorite:");
            var newYear = prompt("Enter the year of the meteorite:");
            $.ajax({
                type: "POST",
                url: "/add_data_point",
                data: {name: newName, year: newYear, location: newLocation},
                success: function(response) {
                    alert('Data point added to the dataframe');
                } 
                
            });*/
        });
        let i = 0;
map.eachLayer(function(){ i += 1; });
console.log('Map has', i, 'layers.');
      
    </script>
</body>
</html>
