<!DOCTYPE html>
<html>

<head>
    <title>Flask Folium Map</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/timezone-picker/0.1.14/jquery.timezonePicker.min.js"></script> -->
  
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
    <!-- Font awesome is not required provided you change the icon options -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/solid.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/fontawesome.min.js"></script>
    <!-- end FA -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@eonasdan/tempus-dominus@6.7.16/dist/css/tempus-dominus.css"
  />
</head>

<body>
    <button type="info-btn" class="info-btn" data-bs-toggle="modal" data-bs-target="#info-modal">?</button>
    <button id="add-point-btn" class="add-point-btn" data-bs-toggle="offcanvas" data-bs-target="#form-wrapper"
        onclick="toggleBtn()">Add new Location</button>
    <!-- Modal -->
    <div class="modal fade" id="info-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="info-modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Click on the map or the add location button to add a new point
                </div>
            </div>
        </div>
    </div>
    <!-- Filter -->
    <select id="category" name="category">
        {% for category in categories %}
        <option value="{{ category }}">{{ category }}</option>
        {% endfor %}
    </select>
    <!-- form -->
    <div id="form-wrapper" class="form-wrapper offcanvas offcanvas-end ">
        <div class="offcanvas-header">
            <h2 class="offcanvas-title" id="offcanvasExampleLabel">New Point</h2>
            <button type="button" class="btn-close btn-close-white text-reset" data-bs-dismiss="offcanvas"
                aria-label="Close" onclick="toggleBtn()"></button>
        </div>
        <form  id="locationForm">
            {{ form.hidden_tag() }}
    <input id="hidden_category" type="hidden" name="category" value="All">
            <div class="sec-general">
                <div class="input-group date" id="datetime" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input" data-target="#datetime" >
                    <div class="input-group-append" data-target="#datetime" data-toggle="datetimepicker"value=" {{curdatetime }}">
                      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                  </div>
                {{ form.timezone.label }} {{ form.timezone() }}
                <div class="form-item-group">
                    {{ form.location(size=32, id="id_location", class="input-text",placeholder="asdfg") }}{{
                    form.location.label(class="form-item-label req-label") }}
                </div>
                <div class="form-item-group">
                    {{ form.itemone(size=32, id="id_itemone", class="input-text",placeholder="asdfg") }}{{
                    form.itemone.label(class="form-item-label req-label") }}
                </div>
            </div>
            <div class="sec-sub">
                <h5 class="sec-sub-title">Thing Two</h5>

                <div class="sec-sub-content">
                    <div class="form-item-group">
                        {{ form.itemtwo(class="input-text item-blue", id="itemTwoInput",placeholder="asdfg") }}
                        {{ form.itemtwo.label(class="form-item-label item-blue req-label") }}
                    </div>
                    <div class="form-item-group">
                        {{ form.itemthree(class="input-text item-blue", id="itemthreeInput",placeholder="asdfg") }}
                        {{ form.itemthree.label(class="form-item-label item-blue") }}
                    </div>
                    <div class="form-item-group">
                        {{ form.itemfour(class="input-text item-blue", id="itemfourInput",placeholder="asdfg") }}
                        {{ form.itemfour.label(class="form-item-label item-blue") }}
                    </div>
                    <div class="form-item-group">
                        {{ form.itemfive(class="input-textarea item-blue", id="itemfiveInput",placeholder="asdfg") }}
                        {{ form.itemfive.label(class="form-item-label item-blue") }}
                    </div>
                </div>
            </div>
            <div id="sec-new" class="sec-sub collapse">
                <h5 class="sec-sub-title">Thing Two</h5>

                <div class="sec-sub-content">
                 
                </div>
            </div>
            {{ form.submit(class="sub") }}

        </form>
        <button class="add-new" onclick="addSection()">
            <span>+</span>
            thing
        </button>
    </div>
    </div>
    <div id="map"></div>
    
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script> -->

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.0/leaflet.awesome-markers.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.34/moment-timezone-with-data.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/js/tempusdominus-bootstrap-4.min.js"></script>

   
        <script>
            $(document).ready(function () {
                $('#datetime').datetimepicker({
                    format: 'YYYY-MM-DD HH:mm:ss ZZ',
                    value: '{{ curdatetime }}',
                    widgets: {
                        time: 'underline'
                    }
                });
                // $('#timezone-picker').timezonePicker({
                //     format: 'offset',
                //     data: '/get-timezones'
                // });
                $('#datetime').on('change.datetimepicker', function (e) {
    var datetime = moment(e.date).format('YYYY-MM-DD HH:mm:ss ZZ');
    $('#datetime-field').val(datetime);
});

                $('#timezone').on('change', function() {
        var timezone = $(this).val();
        var datetime = $('#datetime').data('datetimepicker').date();
        var momentDateTime = moment(datetime).tz(timezone);
        $('#datetime').data('datetimepicker').date(momentDateTime);
      });
            });
        </script>

<script type="text/javascript">
    var firstClick = true;

    function addSection() {
        var newSec = document.getElementById("sec-new");
        var clonedSec = newSec.cloneNode(true);
        
        var form = document.getElementById("locationForm");

        // if (firstClick ==true) {
        //     firstClick = false;
        //     newSec.classList.remove("collapse" );
        // } else {
        // form.appendChild(clonedSec);
        // }
        for (var i = 0; i < 3; i++) {
        var newInput = document.createElement("input");
        newInput.type = "text";
        newInput.name = 'new_input';
        form.appendChild(newInput)
        }
    }

</script>
    <script type="text/javascript">
        function toggleBtn() {
            var x = document.getElementById("add-point-btn");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }

    </script>
    <script type="text/javascript">
        var map = L.map('map').setView({{ mean_location }}, 3, tiles = "cartodb positron");
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            minZoom: 2,
            maxZoom: 19,
        }).addTo(map);

        var mapContainer = document.getElementById('map');

        var marker;


        // Add marker based on the existing locations from the dataframe
        var locations = {{ existing_locations | tojson | safe }};

        var redCircle = {
            radius: 4,
            color: '#cf2300',
            weight: 2,
            fillOpacity: 0.3,
        }
        var blueCircle = {
            radius: 4,
            weight: 2,
            color: '#3e64df',
            fillOpacity: 1.0,
        }

        if (locations.length > 0) {

            {% for local in existing_locations %}
            var spot = {{ local| tojson | safe
        }}.split(',');

        marker = L.circleMarker([parseFloat(spot[0]), parseFloat(spot[1])], redCircle).addTo(map);
        marker.bindPopup('Name: ' + ', Year: ' + '{{ year[loop.index] }}');
        {% endfor %}

        }
        // Add marker based on the submitted location
        console.log("jkfsdklj")
        var loc = {{ location | tojson | safe }};
        console.log(loc);

        if (loc !== null) {
            console.log(loc);
            var spot = loc.split(',');
            console.log(spot);
            marker = L.marker([parseFloat(spot[0]), parseFloat(spot[1])], redCircle).addTo(map);
            map.removeLayer(marker);
        };

        // Add click event to the map to add a data point to the dataframe
        var myOffcanvas = document.getElementById('form-wrapper')

        map.on('click', function (e) {
            if (marker) {
                map.removeLayer(marker);
            }
            marker = L.circleMarker(e.latlng, blueCircle).addTo(map);
            map.setView(e.latlng);
            document.getElementById('id_location').value = e.latlng.lat + ', ' + e.latlng.lng;
            var bsOffcanvas = new bootstrap.Offcanvas(myOffcanvas)
            bsOffcanvas.show()
            toggleBtn()

            // Add the clicked data point to the Pandas dataframe
            /*var newLocation = e.latlng.lat + ', ' + e.latlng.lng;
             var newName = prompt("Enter the name of the meteorite:");
            var newYear = prompt("Enter the year of the meteorite:");
            $.ajax({
                type: "POST",
                url: "/add_data_point",
                data: {name: newName, year: newYear, location: newLocation},
                success: function(response) {
                    alert('Data point added to the dataframe');
                } 
                
            });*/
        });


    
        const categorySelect = document.getElementById('category');
categorySelect.addEventListener('change', (e) => {
    category = e.target.value;
    $('#hidden_category').val(category);
    fetch('/update_map', {
        method: 'POST',
        headers: {'Content-Type': 'application/x-www-form-urlencoded'},
        body: `category=${category}`
    })
    .then(response => response.json())
    .then(data => {
        // Remove existing markers from the map
        map.eachLayer(function (layer) {
         if (layer instanceof L.Marker || layer instanceof L.CircleMarker) {
                map.removeLayer(layer);
            }
        });
        // Add new markers to the map
        data.forEach(item => {
            L.marker([item.reclat, item.reclong]).addTo(map)
                .bindPopup(item.name);
        });
    });
});

const form = document.getElementById('locationForm');
form.addEventListener('submit', (e) => {
    e.preventDefault();
    const formData = new FormData(form);
    const category = formData.get('category');
    fetch('/submit_form', {
        method: 'POST',
        body: formData
    })
    .then(response => response.json())
    .then(data => {
        console.log(data)
        // Remove existing markers from the map
        map.eachLayer(function (layer) {
         if (layer instanceof L.Marker || layer instanceof L.CircleMarker) {
                map.removeLayer(layer);
            }
        });
        // Add new markers to the map
        data.forEach(item => {
            L.marker([item.reclat, item.reclong]).addTo(map)
                .bindPopup(item.name);
        });
    });
});

    </script>
</body>

</html>